<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>可视化</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/home/" class="nav-link px-2 text-white" >Home</a></li>
              <li><a href="/home/edit/" class="nav-link px-2 text-white">上传数据</a></li>
              <li><a href="/home/echarts/" class="nav-link px-2 text-secondary">数据可视化</a></li>
              <li><a href="#" class="nav-link px-2 text-white">编辑数据</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Help</a></li>
            </ul>

            <div class="text-end">
              <button type="button" class="btn btn-warning" id="quit">退出登录</button>
            </div>
          </div>
        </div>
    </header>
    <select class="form-select" aria-label="Default select example" id="select">
      <option value="xmd">小麦岛</option>
      <option value="zfd">芝罘岛</option>
      <option value="bsg">北礵岛</option>
      <option value="dcn">大陈岛</option>
      <option value="zlg">东山岛</option>
    </select>
    <div id="main" style="width: 800px;height:800px;"></div>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/echarts.js"></script>
</body>
</html>