<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>可视化</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <select class="form-select" aria-label="Default select example" id="select">
      <option selected>选择数据收集点</option>
      <option value="1">小麦岛</option>
      <option value="2">芝罘岛</option>
      <option value="3">北礵岛</option>
      <option value="4">大陈岛</option>
      <option value="5">东山岛</option>
    </select>
    <div id="main" style="width: 1000px;height:800px;"></div>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/echarts.js"></script>
</body>
</html>