<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div>
        <h1>txt文件数据上传</h1>
        <h3>注意：海洋数据不可重复上传</h3>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="fileInput">
                <label class="input-group-text" for="fileInput">上传</label>
            </div>
        <div class="d-flex align-items-center" id="loading">
            <strong>Loading...</strong>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
    </div>
    <button type="button" class="btn btn-dark" id="back_home">返回</button>
    <script src="/static/js/cookie_util.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/AddTxtData.js"></script>
</body>

</html>