<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
</head>
    <body>
        <div class="container p-5 my-5 border">
            <h1>我的主页面</h1>
            <p>未完成。</p>
        </div>
        <button type="button" class="btn btn-primary" id="txtData">数据上传</button>
        <button type="button" class="btn btn-warning" id="view">可视化</button>
        <button type="button" class="btn btn-dark" id="quit">退出</button>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
	    <script src="/static/js/sweetalert.min.js"></script>
        <script src="/static/js/cookie_util.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/home.js"></script>
    </body>
</html>
