<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/login.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/static/js/cookie_util.js"></script>
</head>
<body>
<h2>海洋环境数据可视化</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form>
			<h2>用户注册</h2>
			<div>
			</div>
			<span></span>
			<input type="text" name="RegisterNickName" placeholder="昵称" />
			<input type="text" name="RegisterUserName" placeholder="用户名" />
			<input type="password" name="RegisterPassword" placeholder="密码" />
			<button id="register">注  册</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form>
			<h2>用户登录</h2>
			<div>
			</div>
			<span></span>
			<input type="text" name="LoginUserName" placeholder="用户名" />
			<input type="password" name="LoginPassword" placeholder="密码" />
			<a href="/">忘记密码?</a>
			<button id="login">登  录</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h2>欢迎回来!</h2>
				<p>为方便您使用本网站，请使用您的个人账户登录。</p>
				<button class="ghost" id="signIn">登  录</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h2>您好，朋友!</h2>
				<p>请注册属于您个人的账户，然后开始使用我们的网站</p>
				<button class="ghost" id="signUp">注  册</button>
			</div>
		</div>
	</div>
</div>
<script src="/static/js/login.js"></script>
</body>
</html>